.md-button-small {
    padding: 8px 13px;
    font-size: 14px;
}

.skill-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .skill-name {
    flex-grow: 1;
  }
  
  .skill-rating {
    flex-shrink: 0;
  }
  